<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.marketcetera.photon.tests.all"
   name="Photon All Tests"
   version="0.0.0">

   <runtime>
      <library name="photontestsall.jar"/>
   </runtime>

   <requires>
      <import plugin="org.junit"/>
      <import plugin="org.marketcetera.photon.tests"/>
   </requires>

</plugin>
