<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.marketcetera.photon.positions.ui"
            name="Positions">
      </category>
      <view
            category="org.marketcetera.photon.positions.ui"
            class="org.marketcetera.photon.internal.positions.ui.PositionsView"
            icon="icons/sum.png"
            id="org.marketcetera.photon.positions.ui.PositionsView"
            name="Positions"
            restorable="true">
      </view>
   </extension>

</plugin>
