<%= render :partial => 'shared/breadcrumbs', 
    :locals=> { :top_level => "Position Reports", :action_name => "List Positions", :top_level_controller => 'queries' } %>
<h1>List positions <%= @query_type -%>: <span><%= @param_value %></span></h1>

<%= render :partial => 'positions/positions_list_display' %>

<%= pagination_links(@position_pages, :params => { @param_name => @param_value } ) %>

<%= button_to 'Search again', {:action => 'positions'}, {:class => "submit floatright"} %>

