<% for column in MSymbol.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @m_symbol.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @m_symbol %> |
<%= link_to 'Back', :action => 'list' %>
