<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.marketcetera.photon.internal.marketdata.ui.MarketDataPreferencePage"
            id="org.marketcetera.photon.marketdata.ui.MarketDataPreferencePage"
            name="%marketDataPreferencePage.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.marketcetera.photon.internal.marketdata.ui.FeedPreferencePageInitializer">
      </startup>
   </extension>

</plugin>
