<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         name="Photon"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.marketcetera.photon.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.marketcetera.photon.EquityPerspectiveFactory"
            icon="icons/silk/medal_gold_2.png"
            id="org.marketcetera.photon.EquityPerspective"
            name="Equity Perspective">
      </perspective>
      <perspective
            class="org.marketcetera.photon.NullPerspectiveFactory"
            icon="icons/silk/bug.png"
            id="org.marketcetera.photon.DebugPerspective"
            name="Debug Perspective"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.marketcetera.photon.views.StockOrderTicket"
            icon="icons/silk/medal_gold_add.png"
            id="org.marketcetera.photon.views.StockOrderTicket"
            name="Stock Order Ticket"/>
      <view
            class="org.marketcetera.photon.views.WebBrowserView"
            icon="icons/silk/world_go.png"
            id="org.marketcetera.photon.views.WebBrowserView"
            name="Browser"/>
      <view
            class="org.marketcetera.photon.views.FiltersView"
            icon="icons/silk/chart_organisation.png"
            id="org.marketcetera.photon.views.FiltersView"
            name="Message Filters"/>
  </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.marketcetera.photon.DebugPerspective">
         <view
               id="org.eclipse.ui.console.ConsoleView"
               ratio="0.3"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true"/>
      </perspectiveExtension>
   </extension>

      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.marketcetera.photon.JMSPreferencePage"
            id="org.marketcetera.photon.preferences.jms"
            name="JMS Preferences"/>
      <page
            name="Hotkeys"
            class="org.eclipse.ui.ExtensionFactory:keysPreferencePage"
            id="org.eclipse.ui.preferencePages.Keys">
      </page>
   </extension>
   <extension
         id="Photon"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.marketcetera.photon.application"
            description="Marketcetera Photon 0.1.2 (Plugin)"
            name="Photon 0.1.2">
         <property
               name="aboutImage"
               value="icons/marketcetera/logo-150x55.gif"/>
         <property
               name="aboutText"
               value="Marketcetera Photon&#x0A;&#x0A;Version: 0.1.2&#x0A;&#x0A;(c) Copyright Marketcetera LLC 2006.  All rights reserved.&#x0A;Visit http://www.marketcetera.org"/>
         <property
               name="preferenceCustomization"
               value="photon-config.ini"/>
         <property
               name="windowImages"
               value="icons/marketcetera/photon-16x16.gif,icons/marketcetera/photon-32x32.gif,icons/marketcetera/photon-48x48.gif,icons/marketcetera/photon-64x64.gif,icons/marketcetera/photon-128x128.gif"/>
         <property
               name="startupProgressRect"
               value="0,0,364,10"/>
         <property
               name="startupForegroundColor"
               value="000000"/>
         <property
               name="startupMessageRect"
               value="0,0,200,10"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Photon Commands"
            id="org.marketcetera.photon.commands"
            name="Marketcetera Photon"/>
      <command
            categoryId="org.marketcetera.photon.commands"
            description="Focus the cursor on the command entry area"
            id="org.marketcetera.photon.FocusCommand"
            name="Focus Command Area"/>
      <keyBinding
            commandId="org.marketcetera.photon.FocusCommand"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="M3+C"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.marketcetera.photon.editors.OrderHistoryEditor"
            extensions="log"
            icon="icons/sample.gif"
            id="org.marketcetera.photon.editors.OrderHistoryEditor"
            name="Order History"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution
         	adaptable="false"
         	id="org.marketcetera.photon.CancelOrderActionDelegate"
         	objectClass="org.marketcetera.photon.model.MessageHolder">
         	<action
         		class="org.marketcetera.photon.actions.CancelOrderActionDelegate"
         		icon="icons/silk/cancel.png"
         		id="org.marketcetera.photon.actions.CancelOrderActionDelegate"
         		label="&amp;Cancel order"/>
         </objectContribution>
         <objectContribution
         	adaptable="false"
         	id="org.marketcetera.photon.actions.ViewSecurityAction"
         	objectClass="org.marketcetera.photon.model.MessageHolder">
         	<action
         		class="org.marketcetera.photon.actions.ViewSecurityAction"
         		icon="icons/silk/world_go.png"
         		id="org.marketcetera.photon.ViewSecurity"
         		label="View Security"/>
         </objectContribution>
   </extension>
</plugin>
