<?xml version="1.0" encoding="UTF-8" ?>

<!--
  - Main server configuration.
  -
  - Author: tlerios@marketcetera.com
  - Since: 1.0.0
  - Version: $Id: server.xml 15771 2010-11-30 05:05:53Z toli $
  - $License$
  -->

<!--
  - See 'README.html' for detailed documentation.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation= "http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  <!-- include site-specific parameters -->                            
  <import resource="properties.xml"/>
  <!-- include order routing nodes -->
  <import resource="routers/main.xml"/>
  <!-- build configuration for server -->
  <bean id="serverConfig" class="org.marketcetera.server.config.ServerConfig">
    <!-- The order routing nodes -->
    <constructor-arg ref="metc_routers"/>
    <constructor-arg ref="metc_routing_selector"/>
  </bean>
  <bean class="org.marketcetera.ors.OptionRootUnderlyingMap">
    <property name="filename" value="${metc.optionroot.map.file}"/>
    <property name="includeTypes" value="EU,EL"/>
  </bean>
</beans>
