<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="classBuilder" name="Class builder" schema="schema/classBuilder.exsd"/>
   <extension-point id="dataParser" name="Data parser" schema="schema/dataParser.exsd"/>
   <extension-point id="scriptingEngine" name="Scripting Engine" schema="schema/scriptingEngine.exsd"/>

   <extension point="com.swtworkbench.community.xswt.classBuilder">
   		<import	packages="com.swtworkbench.community.xswt.scripting"/>
   </extension>

   <extension point="com.swtworkbench.community.xswt.dataParser">
   		<data-parser
   			data-parser-class="com.swtworkbench.community.xswt.scripting.MethodFunctionDataParser"
   			data-class="com.swtworkbench.community.xswt.scripting.Function"/>
   </extension>

</plugin>
