/**
 * JAAS configuration for ActiveMQ. The configuration that is used by ors
 * is named "ors-amq-domain"
 *
 * Author: tlerios@marketcetera.com
 * Since: 0.5.0
 * Version: $Id$
 *
 * $License$
 */

/*
 * The login module for property file based authentication
 * not used by default
 */
ors-notused-domain {
    org.apache.activemq.jaas.PropertiesLoginModule required
        debug=true
        org.apache.activemq.jaas.properties.user="ors_users.properties"
        org.apache.activemq.jaas.properties.group="ors_groups.properties";
};

/*
 * The login module for authentication based on users stored in the
 * database. This is the default.
 */
ors-amq-domain {
    org.marketcetera.ors.security.ORSLoginModule required;
};
