<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator name="Null Ruby Source Locator"
			class="org.marketcetera.photon.ruby.NullRubySourceLocator"
			id="org.rubypeople.rdt.debug.ui.rubySourceLocator">
		</sourceLocator>
	</extension>
   <extension
      point="org.eclipse.ui.activities">
	   <activity
	         description="Activity used to block unwanted UI contributions"
	         id="org.marketcetera.photon.hidden"
	         name="Hidden Activities">
	   </activity>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.eclipse\.search/.*">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.eclipse\.team\.ui/.*">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.eclipse\.ui\.editors/.*">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.eclipse\.debug\.ui/.*">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.eclipse\.ui\.workbench/.*">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.eclipse\.ui\.ide/.*">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.eclipse\.update\.ui/org\.eclipse\.update\.internal\.ui\.preferences\.MainPreferencePage">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.rubypeople\.rdt\.ui/.*">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern=".*org\.eclipse\.search\.menu.*">
	   </activityPatternBinding>
	   <activity
	         description="Activity to add back hidden UI contributions"
	         id="org.marketcetera.photon.expose"
	         name="Expose">
	   </activity>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.views\.ProblemView">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.rubypeople\.rdt\.ui/org\.rubypeople\.rdt\.ui\.EditorRubyFile">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.rubypeople\.rdt\.ui/org\.rubypeople\.rdt\.ui\.wizards\.RubyNewClassWizard">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.rubypeople\.rdt\.ui/org\.rubypeople\.rdt\.ui\.wizards\.RubyNewFileWizard">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.new\.folder">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.new\.file">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.new\.project">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.import\.FileSystem">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.import\.ExternalProject">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.import\.ZipFile">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.editors\.wizards\.UntitledTextFileWizard">
	   </activityPatternBinding>
	   <defaultEnablement
	         id="org.marketcetera.photon.expose">
      </defaultEnablement>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.marketcetera.photon.StrategyPerspective">
         <view
               id="org.eclipse.ui.console.ConsoleView"
               relationship="stack"
               relative="org.marketcetera.photon.strategy.TradeSuggestionsView">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               relative="org.marketcetera.photon.strategy.TradeSuggestionsView">
         </view>
         <view
               id="org.epic.regexp.views.RegExpView"
               relationship="stack"
               relative="org.marketcetera.photon.strategy.TradeSuggestionsView">
         </view>
         <perspectiveShortcut
               id="org.marketcetera.photon.EquityPerspective"/>
         <perspectiveShortcut
               id="org.marketcetera.photon.OptionPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.marketcetera.photon.EquityPerspective">
         <perspectiveShortcut
               id="org.marketcetera.photon.StrategyPerspective"/>
         <view
               id="org.marketcetera.photon.positions.ui.PositionsView"
               minimized="false"
               ratio=".5"
               relationship="bottom"
               relative="org.marketcetera.photon.views.MarketDataView">
         </view>
         <view
               id="org.marketcetera.photon.marketdata.MarketDepthView"
               minimized="false"
               relationship="stack"
               relative="org.marketcetera.photon.views.MarketDataView"
               visible="false">
         </view>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.marketcetera.photon.OptionPerspective">
         <perspectiveShortcut
               id="org.marketcetera.photon.StrategyPerspective"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.marketcetera.photon.product.EarlyStartup"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.marketcetera.photon.positions.ui.commands.category"
            defaultHandler="org.marketcetera.photon.product.handlers.ShowPositionFills"
            description="%command.showPositionFills.description"
            id="org.marketcetera.photon.positions.ui.commands.showPositionFills"
            name="%command.showPositionFills.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.marketcetera.photon.positions.ui.PositionsView?before=org.marketcetera.photon.positions.ui.positionsPopup.chooseColumnsMenu">
         <command
               commandId="org.marketcetera.photon.positions.ui.commands.showPositionFills"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="1">
               </count>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
