<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator name="Null Ruby Source Locator"
			class="org.marketcetera.photon.ruby.NullRubySourceLocator"
			id="org.rubypeople.rdt.debug.ui.rubySourceLocator">
		</sourceLocator>
	</extension>
   <extension
      point="org.eclipse.ui.activities">
	   <activity
	         description="Activity used to block unwanted UI contributions"
	         id="org.marketcetera.photon.hidden"
	         name="Hidden Activities">
	   </activity>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.eclipse\.search/.*">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.eclipse\.team\.ui/.*">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.eclipse\.ui\.editors/.*">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.eclipse\.debug\.ui/.*">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.eclipse\.ui\.workbench/.*">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.eclipse\.ui\.ide/.*">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.eclipse\.update\.ui/org\.eclipse\.update\.internal\.ui\.preferences\.MainPreferencePage">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern="org\.rubypeople\.rdt\.ui/.*">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.hidden"
	         pattern=".*org\.eclipse\.search\.menu.*">
	   </activityPatternBinding>
	   <activity
	         description="Activity to add back hidden UI contributions"
	         id="org.marketcetera.photon.expose"
	         name="Expose">
	   </activity>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.views\.ProblemView">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.rubypeople\.rdt\.ui/org\.rubypeople\.rdt\.ui\.EditorRubyFile">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.rubypeople\.rdt\.ui/org\.rubypeople\.rdt\.ui\.wizards\.RubyNewClassWizard">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.rubypeople\.rdt\.ui/org\.rubypeople\.rdt\.ui\.wizards\.RubyNewFileWizard">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.new\.folder">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.new\.file">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.new\.project">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.import\.FileSystem">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.import\.ExternalProject">
	   </activityPatternBinding>
	   <activityPatternBinding
	         activityId="org.marketcetera.photon.expose"
	         pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.import\.ZipFile">
	   </activityPatternBinding>
	   <defaultEnablement
	         id="org.marketcetera.photon.expose">
      </defaultEnablement>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.marketcetera.photon.StrategyPerspective">
         <view
               id="org.eclipse.ui.console.ConsoleView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.marketcetera.photon.StrategyPerspective">
         <view
               id="org.epic.regexp.views.RegExpView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.marketcetera.photon.EquityPerspective">
         <perspectiveShortcut
               id="org.marketcetera.photon.StrategyPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.marketcetera.photon.OptionPerspective">
         <perspectiveShortcut
               id="org.marketcetera.photon.StrategyPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.marketcetera.photon.StrategyPerspective">
         <perspectiveShortcut
               id="org.marketcetera.photon.EquityPerspective"/>
         <perspectiveShortcut
               id="org.marketcetera.photon.OptionPerspective"/>
      </perspectiveExtension>
   </extension>
</plugin>
