<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.marketcetera.photon.commons.ui.workbench.WorkaroundGuiceExtensionFactory:org.marketcetera.photon.internal.strategy.engine.ui.workbench.ws.WorkspaceDeployHandler"
            commandId="org.marketcetera.photon.strategy.engine.ui.workbench.deploy">
         <activeWhen>
            <and>
               <reference
                     definitionId="org.marketcetera.photon.strategy.engine.ui.workbench.strategyEngineSelected">
               </reference>
               <!-- dummy test to boost the priority of this handler over the basic one in org.marketcetera.photon.strategy.engine.ui.workbench -->     
               <with
                     variable="activeShell">
                  <instanceof
                        value="java.lang.Object">
                  </instanceof>
               </with>
            </and>
         </activeWhen>
         <enabledWhen>
            <iterate>
               <test
                     property="org.marketcetera.photon.strategy.engine.ui.workbench.strategyEngine.connectionState"
                     value="CONNECTED">
               </test>
            </iterate>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.ops4j.peaberry.eclipse.modules">
         <module class="org.marketcetera.photon.internal.strategy.engine.ui.workbench.ws.Module"/>
   </extension>

</plugin>
