<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.marketcetera.photon.internal.strategy.ui.StrategyPerspective"
            icon="icons/script_gear.png"
            id="org.marketcetera.photon.StrategyPerspective"
            name="%strategyPerspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%strategyCategory.name"
            id="org.marketcetera.photon.strategy">
      </category>
      <view
            name="%strategyView.name"
            icon="icons/script_gear.png"
            category="org.marketcetera.photon.strategy"
            class="org.marketcetera.photon.internal.strategy.ui.StrategiesView"
            id="org.marketcetera.photon.strategy.StrategiesView">
      </view>
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/resource_persp.gif"
            id="org.marketcetera.photon.strategy.ProjectExplorer"
            name="%projectExplorerView.name"
            restorable="true">
      </view>
      <view
            category="org.marketcetera.photon.strategy"
            class="org.marketcetera.photon.internal.strategy.ui.TradeSuggestionsView"
            icon="icons/lightbulb.png"
            id="org.marketcetera.photon.strategy.TradeSuggestionsView"
            name="%tradeSuggestionsView.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewerActionBinding
            viewerId="org.marketcetera.photon.strategy.ProjectExplorer">
         <includes>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.actions.EditActions"/>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.actions.RefactorActions"/>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.OpenActions"/>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.NewActions"/>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions"/>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.UndoRedoActionProvider"/>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.PortingActions"/>
         </includes>
       </viewerActionBinding>
       <viewerContentBinding 
            viewerId="org.marketcetera.photon.strategy.ProjectExplorer">
          <includes>
       	     <contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />		       	      
	         <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.startsWithDot"/>
	         <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.closedProject"/>
             <contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper"/>
          </includes>
       </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.marketcetera.photon.strategy.commands.category"
            name="%strategyCommandsCategory.name">
      </category>
      <command
            categoryId="org.marketcetera.photon.strategy.commands.category"
            defaultHandler="org.marketcetera.photon.internal.strategy.ChangeSelectedHandler:RUNNING"
            description="%startStrategies.description"
            id="org.marketcetera.photon.strategy.commands.startStrategies"
            name="%startStrategies.name">
      </command>
      <command
            categoryId="org.marketcetera.photon.strategy.commands.category"
            defaultHandler="org.marketcetera.photon.internal.strategy.ChangeSelectedHandler:STOPPED"
            description="%stopStrategies.description"
            id="org.marketcetera.photon.strategy.commands.stopStrategies"
            name="%stopStrategies.name">
      </command>
      <command
            categoryId="org.marketcetera.photon.strategy.commands.category"
            defaultHandler="org.marketcetera.photon.internal.strategy.ChangeAllHandler:RUNNING"
            description="%startAllStrategies.description"
            id="org.marketcetera.photon.strategy.commands.startAllStrategies"
            name="%startAllStrategies.name">
      </command>
      <command
            categoryId="org.marketcetera.photon.strategy.commands.category"
            defaultHandler="org.marketcetera.photon.internal.strategy.ChangeAllHandler:STOPPED"
            description="%stopAllStrategies.description"
            id="org.marketcetera.photon.strategy.commands.stopAllStrategies"
            name="%stopAllStrategies.name">
      </command>
      <command
            categoryId="org.marketcetera.photon.strategy.commands.category"
            defaultHandler="org.marketcetera.photon.internal.strategy.ChangeRemoteAgentHandler:RUNNING"
            description="%startAgent.description"
            id="org.marketcetera.photon.strategy.commands.startAgent"
            name="%startAgent.name">
      </command>
      <command
            categoryId="org.marketcetera.photon.strategy.commands.category"
            defaultHandler="org.marketcetera.photon.internal.strategy.ChangeRemoteAgentHandler:STOPPED"
            description="%stopAgent.description"
            id="org.marketcetera.photon.strategy.commands.stopAgent"
            name="%stopAgent.name">
      </command>
      <command
            categoryId="org.marketcetera.photon.strategy.commands.category"
            description="%registerStrategy.name"
            id="org.marketcetera.photon.strategy.commands.registerStrategy"
            name="%registerStrategy.label">
      </command>
      <command
            categoryId="org.marketcetera.photon.strategy.commands.category"
            defaultHandler="org.marketcetera.photon.internal.strategy.EnableRemoteAgentHandler"
            description="Enables or disables the remote strategy agent"
            id="org.marketcetera.photon.strategy.commands.enableRemoteAgent"
            name="Enable Remote Agent">
      </command>
      <category
            id="org.marketcetera.photon.tradeSuggestion.commands"
            name="%tradeSuggestionCommands.name">
      </category>
      <command
            categoryId="org.marketcetera.photon.tradeSuggestion.commands"
            description="%openSuggestionCommand.description"
            id="org.marketcetera.photon.tradeSuggestion.commands.open"
            name="%openSuggestionCommand.name">
      </command>
      <command
            categoryId="org.marketcetera.photon.tradeSuggestion.commands"
            description="%sendOrders.description"
            id="org.marketcetera.photon.tradeSuggestion.commands.send"
            name="%sendOrders.name">
      </command>
      <command
            categoryId="org.marketcetera.photon.tradeSuggestion.commands"
            description="%tradeSuggestionDelete.description"
            id="org.marketcetera.photon.tradeSuggestion.commands.delete"
            name="%tradeSuggestionDelete.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.marketcetera.photon.strategy.StrategiesView">
         <command
               commandId="org.marketcetera.photon.strategy.commands.startStrategies"
               icon="icons/greenled.gif"
               style="push"
               tooltip="%startStrategies.description">
            <visibleWhen>
               <iterate>
                  <instanceof
                        value="org.marketcetera.photon.internal.strategy.Strategy">
                  </instanceof>
                  <test
                        property="org.marketcetera.photon.strategy.state"
                        value="STOPPED">
                  </test>
               </iterate>   
            </visibleWhen>
         </command>
         <command
               commandId="org.marketcetera.photon.strategy.commands.stopStrategies"
               icon="icons/grayled.gif"
               style="push"
               tooltip="%stopStrategies.description">
               <visibleWhen>
               <iterate>
                  <instanceof
                        value="org.marketcetera.photon.internal.strategy.Strategy">
                  </instanceof>
                  <test
                        property="org.marketcetera.photon.strategy.state"
                        value="RUNNING">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.marketcetera.photon.strategy.commands.startAgent"
               icon="icons/greenled.gif"
               style="push"
               tooltip="%startAgent.description">
            <visibleWhen>
               <iterate>
                  <instanceof
                        value="org.marketcetera.photon.internal.strategy.RemoteStrategyAgent">
                  </instanceof>
                  <test
                        property="org.marketcetera.photon.strategy.state"
                        value="STOPPED">
                  </test>
               </iterate>   
            </visibleWhen>
         </command>
         <command
               commandId="org.marketcetera.photon.strategy.commands.stopAgent"
               icon="icons/grayled.gif"
               style="push"
               tooltip="%stopAgent.description">
               <visibleWhen>
               <iterate>
                  <instanceof
                        value="org.marketcetera.photon.internal.strategy.RemoteStrategyAgent">
                  </instanceof>
                  <test
                        property="org.marketcetera.photon.strategy.state"
                        value="RUNNING">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="org.marketcetera.photon.strategy.StrategiesView.separator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="%deleteStrategy.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.marketcetera.photon.strategy.expressions.strategiesSelected">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="org.marketcetera.photon.strategy.StrategiesView.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="1">
               </count>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.marketcetera.photon.strategy.StrategiesView">
         <command
               commandId="org.marketcetera.photon.strategy.commands.startAllStrategies"
               icon="icons/greenled.gif"
               style="push"
               tooltip="%startAllStrategies.description">
         </command>
         <command
               commandId="org.marketcetera.photon.strategy.commands.stopAllStrategies"
               icon="icons/grayled.gif"
               style="push"
               tooltip="%stopAllStrategies.description">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.marketcetera.photon.strategy.StrategiesView">
         <command
               commandId="org.marketcetera.photon.strategy.commands.enableRemoteAgent"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.marketcetera.photon.strategy.ProjectExplorer">
         <command
               commandId="org.marketcetera.photon.strategy.commands.registerStrategy"
               label="%registerStrategy.label"
               mnemonic="%registerStrategy.mnemonic"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.marketcetera.photon.strategy.expressions.rubyFileSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.marketcetera.photon.strategy.TradeSuggestionsView">
         <command
               commandId="org.marketcetera.photon.tradeSuggestion.commands.open"
               icon="icons/arrow_up.png"
               style="push"
               tooltip="%openSuggestionCommand.description">
         </command>
         <command
               commandId="org.marketcetera.photon.tradeSuggestion.commands.send"
               icon="icons/server_go.png"
               style="push"
               tooltip="%sendOrders.description">
         </command>
         <command
               commandId="org.marketcetera.photon.tradeSuggestion.commands.delete"
               icon="icons/cancel.png"
               style="push"
               tooltip="%tradeSuggestionDelete.description">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.marketcetera.photon.strategy.TradeSuggestionsView">
         <command
               commandId="org.eclipse.ui.edit.delete"
               icon="icons/cancel.png"
               style="push">
         </command>
          <separator
                name="beforeChooseColumns"
                visible="true">
          </separator>
          <menu
                label="%chooseColumns.label">
             <dynamic
                   class="org.marketcetera.photon.commons.ui.table.ChooseColumnsMenu"
                   id="org.marketcetera.photon.chooseColumnsMenu">
             </dynamic>
          </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.marketcetera.photon.internal.strategy.StrategyPropertyTester"
            id="org.marketcetera.photon.strategy.StrategyTester"
            namespace="org.marketcetera.photon.strategy"
            properties="state"
            type="org.marketcetera.photon.internal.strategy.AbstractStrategyConnection">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.marketcetera.photon.internal.strategy.ui.StrategyPropertyPage"
            icon="icons/script_gear.png"
            id="org.marketcetera.photon.StrategyPropertyPage"
            name="%strategyProperties.name">
         <enabledWhen>
            <adapt
                  type="org.marketcetera.photon.internal.strategy.Strategy">
            </adapt></enabledWhen>
      </page>
      <page
            class="org.marketcetera.photon.internal.strategy.ui.RemoteAgentPropertyPage"
            icon="icons/script_gear.png"
            id="org.marketcetera.photon.RemoteAgentPropertyPage"
            name="%remoteAgentProperties.name">
         <enabledWhen>
            <adapt
                  type="org.marketcetera.photon.internal.strategy.RemoteStrategyAgent">
            </adapt></enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.marketcetera.photon.internal.strategy.ruby.RegisterRubyHandler"
            commandId="org.marketcetera.photon.strategy.commands.registerStrategy">
         <activeWhen>
            <reference
                  definitionId="org.marketcetera.photon.strategy.expressions.rubyFileSelected">
            </reference>
            
         </activeWhen>
      </handler>
      <handler
            class="org.marketcetera.photon.internal.strategy.StrategyDeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.marketcetera.photon.strategy.StrategiesView">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.marketcetera.photon.internal.strategy.TradeSuggestionDeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.marketcetera.photon.strategy.TradeSuggestionsView">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.marketcetera.photon.internal.strategy.OpenSuggestionHandler"
            commandId="org.marketcetera.photon.tradeSuggestion.commands.open">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.marketcetera.photon.strategy.TradeSuggestionsView">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <instanceof
                        value="org.marketcetera.photon.internal.strategy.TradeSuggestion">
                  </instanceof>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.marketcetera.photon.internal.strategy.SendOrdersHandler"
            commandId="org.marketcetera.photon.tradeSuggestion.commands.send">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.marketcetera.photon.strategy.TradeSuggestionsView">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.marketcetera.photon.internal.strategy.TradeSuggestion">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.marketcetera.photon.internal.strategy.TradeSuggestionDeleteHandler"
            commandId="org.marketcetera.photon.tradeSuggestion.commands.delete">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.marketcetera.photon.strategy.TradeSuggestionsView">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.marketcetera.photon.internal.strategy.TradeSuggestion">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.marketcetera.photon.strategy.expressions.rubyFileSelected">
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.rb">
                     </test>
                  </adapt>
               </iterate>
            </and>
      </definition>
      <definition
            id="org.marketcetera.photon.strategy.expressions.strategiesSelected">
         <iterate
               ifEmpty="false">
            <instanceof
                  value="org.marketcetera.photon.internal.strategy.Strategy">
            </instanceof>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.marketcetera.photon.strategy"
            name="%strategyWizards.name">
      </category>
      <wizard
            category="org.marketcetera.photon.strategy"
            class="org.marketcetera.photon.internal.strategy.ruby.NewRubyStrategyWizard"
            icon="icons/script_gear.png"
            id="org.marketcetera.photon.strategy.ruby.NewRubyStrategyWizard"
            name="%newRubyStrategyWizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            associatedExtensionId="org.eclipse.ui.navigator.resourceContent"
            type="new"
            wizardId="org.marketcetera.photon.strategy.ruby.NewRubyStrategyWizard">
         <enablement>
			<or>
			   <adapt type="org.eclipse.core.resources.IFile" />	
			   <adapt type="org.eclipse.core.resources.IFolder" />
	           <adapt type="org.eclipse.core.resources.IProject" />	
		    </or>
		 </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.marketcetera.photon.internal.strategy.AbstractStrategyConnection"
            class="org.marketcetera.photon.internal.strategy.StrategyAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>

</plugin>
