/**
 * JAAS configuration.
 *
 * Author: tlerios@marketcetera.com
 * Since: 1.0.0
 * Version: $Id$
 *
 * $License$
 */

/*
 * See '../README.html' for detailed documentation.
 */

/*
 * JMS broker configuration: use the login module for database-based 
 * authentication.
 */

ors-amq-domain {
    org.marketcetera.ors.security.ORSLoginModule required;
};
