<%= render :partial => 'shared/breadcrumbs', 
    :locals=> { :top_level => "Positions", :action_name => "List Positions", :top_level_controller => 'positions' } %>
<h1>Listing positions as of open on <%= @date %></h1>

<%= render :partial => 'positions/positions_list_display' %>

<%= pagination_links(@position_pages, :params => { :as_of_date => @date }) %><br />
