<label for="m_symbol_root" id="m_symbol_root_label">Symbol</label>
<% if(!errors[error_key].nil?) %> 
    <div class="fieldWithErrors">
<% end -%>
<%= text_field_with_auto_complete :m_symbol, :root, :value => init_value %>
<% if(!errors[error_key].nil?) %>
    </div>
<% end  -%>