<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ors/src/main/java/org/marketcetera/ors/OrderRoutingSystem.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.marketcetera.ors.OrderRoutingSystem"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ors"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.marketcetera.appDir=src/test/cmd_exec"/>
</launchConfiguration>
