<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.marketcetera.photon.ui.EquityPerspectiveFactory"
            icon="icons/silk/medal_gold_2.png"
            id="org.marketcetera.photon.EquityPerspective"
            name="Equity">
      </perspective>
      <perspective
            class="org.marketcetera.photon.ui.OptionPerspectiveFactory"
            icon="icons/silk/clock.png"
            id="org.marketcetera.photon.OptionPerspective"
            name="Option">
      </perspective>
      <perspective
            class="org.marketcetera.photon.ui.FuturePerspectiveFactory"
            icon="icons/silk/calendar.png"
            id="org.marketcetera.photon.FuturePerspective"
            name="Future">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.StockOrderTicketView"
            icon="icons/silk/medal_gold_add.png"
            id="org.marketcetera.photon.views.StockOrderTicketView"
            name="Stock Order Ticket"
            allowMultiple="true"
            />
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.OptionOrderTicketView"
            icon="icons/silk/clock_add.png"
            id="org.marketcetera.photon.views.OptionOrderTicketView"
            name="Option Order Ticket"
            allowMultiple="true"
            />
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.FutureOrderTicketView"
            icon="icons/silk/calendar.png"
            id="org.marketcetera.photon.views.FutureOrderTicketView"
            name="Future Order Ticket"
            allowMultiple="true"
            />
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.WebBrowserView"
            icon="icons/silk/world_go.png"
            id="org.marketcetera.photon.views.WebBrowserView"
            name="Browser"/>
      <category
            id="org.marketcetera.photon.category"
            name="Photon"/>
      <view
            allowMultiple="true"
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.FIXMessagesView"
            icon="icons/silk/application_view_list.png"
            id="org.marketcetera.photon.views.FIXMessagesView"
            name="FIX Messages"/>
      <view
            allowMultiple="true"
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.OpenOrdersView"
            icon="icons/silk/book_open.png"
            id="org.marketcetera.photon.views.OpenOrdersView"
            name="Open Orders"/>
      <view
            allowMultiple="true"
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.FillsView"
            icon="icons/silk/folder_star.png"
            id="org.marketcetera.photon.views.FillsView"
            name="Fills"/>
      <view
            allowMultiple="true"
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.AveragePriceView"
            icon="icons/silk/calculator.png"
            id="org.marketcetera.photon.views.AveragePriceView"
            name="Average Price"/>
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.MarketDataView"
            icon="icons/silk/chart_curve.png"
            id="org.marketcetera.photon.views.MarketDataView"
            name="Market Data"/>
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.fixmessagedetail.FIXMessageDetailView"
            icon="icons/silk/application_view_list.png"
            id="org.marketcetera.photon.views.FIXMessageDetailView"
            name="FIX Message Details"/>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.marketcetera.photon.EquityPerspective">
         <perspectiveShortcut
               id="org.marketcetera.photon.OptionPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.marketcetera.photon.OptionPerspective">
         <perspectiveShortcut
               id="org.marketcetera.photon.EquityPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.marketcetera.photon.FuturePerspective">
         <perspectiveShortcut
               id="org.marketcetera.photon.FuturePerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.marketcetera.photon.StrategyPerspective">
         <perspectiveShortcut
               id="org.marketcetera.photon.StrategyPerspective"/>
      </perspectiveExtension>
   </extension>

   <extension
	     point="org.eclipse.ui.preferencePages">
      <page
            class="org.marketcetera.photon.preferences.PhotonPage"
            id="org.marketcetera.photon.preferences.photon"
            name="Photon"/>
      <page
            class="org.marketcetera.photon.preferences.ConnectionsPreferencePage"
            id="org.marketcetera.photon.preferences.connections"
            name="Connections"/>
      <page
            class="org.marketcetera.photon.preferences.CustomOrderFieldPage"
            id="org.marketcetera.photon.preferences.customorderfield"
            name="Custom Order Fields"/>
      <page
            class="org.marketcetera.photon.preferences.FIXMessageColumnPreferencePage"
            id="org.marketcetera.photon.preferences.FIXMessageColumnPreferencePage"
            name="FIX Columns"/>
      <page
            name="Hot Keys"
            class="org.eclipse.ui.ExtensionFactory:keysPreferencePage"
            id="org.eclipse.ui.preferencePages.Keys">
      </page>
      <page
            class="org.marketcetera.photon.preferences.TradingHistoryPreferencePage"
            id="org.marketcetera.photon.preferences.tradingHistory"
            name="Trading History">
      </page>
            
   </extension>
   <extension
         id="Photon"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.marketcetera.photon.product.application"
            description="Marketcetera Photon 2.2.0 (Plugin)"
            name="Photon 2.2.0">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
               name="windowImages"
               value="icons/marketcetera/photon-16x16.gif,icons/marketcetera/photon-32x32.gif,icons/marketcetera/photon-48x48.gif,icons/marketcetera/photon-64x64.gif,icons/marketcetera/photon-128x128.gif"/>
         <property
               name="startupProgressRect"
               value="21,204,364,10"/>
         <property
               name="startupForegroundColor"
               value="555555"/>
         <property
               name="startupMessageRect"
               value="225,75,170,20"/>
         <property
               name="appName"
               value="Photon 2.2.0">
         </property>
         <property
               name="aboutImage"
               value="icons/marketcetera/logo-150x55.gif">
         </property>
         <property
               name="aboutText"
               value="Marketcetera Photon&#x0A;&#x0A;Version: 2.2.0&#x0A;Build: metc.build.number&#x0A;&#x0A;(c) Copyright Marketcetera Inc 2006-2012.  All rights reserved.&#x0A;Visit http://www.marketcetera.org">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Photon Commands"
            id="org.marketcetera.photon.commands"
            name="Marketcetera Photon"/>
      <command
            categoryId="org.marketcetera.photon.commands"
            description="Focus the cursor on the command entry area"
            id="org.marketcetera.photon.FocusCommand"
            name="Focus Command Area"/>
      <keyBinding
            commandId="org.marketcetera.photon.FocusCommand"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="M3+C"/>
      <command
            categoryId="org.marketcetera.photon.commands"
            description="%command.lookup.description"
            id="org.marketcetera.photon.lookup"
            name="%command.lookup.name">
      </command>
      <command
            categoryId="org.marketcetera.photon.commands"
            defaultHandler="org.marketcetera.photon.ui.marketdata.ReconnectMarketData"
            description="%command.reconnectMarketData.description"
            id="org.marketcetera.photon.reconnectMarketData"
            name="%command.reconnectMarketData.name">
      </command>
      <command
            categoryId="org.marketcetera.photon.commands"
            defaultHandler="org.marketcetera.photon.actions.ReconnectServerHandler"
            description="%command.reconnectServer.description"
            id="org.marketcetera.photon.reconnectServer"
            name="%command.reconnectServer.name">
      </command>
      <command
            categoryId="org.marketcetera.photon.commands"
            defaultHandler="org.marketcetera.photon.commands.CreateEquityOrderFromQuote"
            description="%commands.createEquityOrderFromQuote.description"
            id="org.marketcetera.photon.createEquityOrderFromQuote"
            name="%commands.createEquityOrderFromQuote.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution
         	adaptable="false"
         	id="org.marketcetera.photon.actions.CancelOrderActionDelegate"
         	objectClass="org.marketcetera.messagehistory.ReportHolder">
         	<action
         		class="org.marketcetera.photon.actions.CancelOrderActionDelegate"
         		icon="icons/silk/cancel.png"
         		id="org.marketcetera.photon.actions.CancelOrderActionDelegate"
         		label="&amp;Cancel order"/>
         </objectContribution>
         <objectContribution
         	adaptable="false"
         	id="org.marketcetera.photon.actions.CancelReplaceOrderActionDelegate"
         	objectClass="org.marketcetera.messagehistory.ReportHolder">
         	<action
         		class="org.marketcetera.photon.actions.CancelReplaceOrderActionDelegate"
         		icon="icons/silk/pencil.png"
         		id="org.marketcetera.photon.actions.CancelReplaceOrderActionDelegate"
         		label="&amp;Replace order"/>
         </objectContribution>
         <objectContribution
         	adaptable="false"
         	id="org.marketcetera.photon.actions.ViewSecurityActionDelegate"
         	objectClass="org.marketcetera.messagehistory.ReportHolder">
         	<action
                class="org.marketcetera.photon.actions.ViewSecurityActionDelegate"
                enablesFor="+"
                icon="icons/silk/world_go.png"
                id="org.marketcetera.photon.actions.ViewSecurityAction"
                label="View Security"/>
         </objectContribution>
   <objectContribution
         adaptable="false"
         id="org.marketcetera.photon.actions.ViewFIXMessageDetailActionDelegate"
         objectClass="org.marketcetera.messagehistory.ReportHolder">
      <action
            class="org.marketcetera.photon.actions.ViewFIXMessageDetailActionDelegate"
            icon="icons/silk/table_go.png"
            id="org.marketcetera.photon.actions.ViewFIXMessageDetailActionDelegate"
            label="View &amp;FIX message details"/>
   </objectContribution> 
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="popup:org.marketcetera.photon.views.MarketDataView">
          <command
                commandId="org.eclipse.ui.edit.delete"
                icon="icons/silk/cancel.png"
                label="%marketDataView.delete.label"
                mnemonic="%marketDataView.delete.mnemonic"
                style="push">
             <visibleWhen>
                <reference
                      definitionId="org.marketcetera.photon.marketDataRowsSelected">
                </reference>
             </visibleWhen>
          </command>
          <command
                commandId="org.eclipse.ui.edit.copy"
                style="push">
             <visibleWhen>
                <reference
                      definitionId="org.marketcetera.photon.marketDataRowsSelected">
                </reference>
             </visibleWhen>
          </command>
          <command
                commandId="org.marketcetera.photon.lookup"
                icon="icons/silk/world_go.png"
                label="%marketDataView.lookup.label"
                mnemonic="%marketDataView.lookup.mnemonic"
                style="push">
             <visibleWhen>
                <reference
                      definitionId="org.marketcetera.photon.symbolProviderSelected">
                </reference>
             </visibleWhen>
          </command>
          <menu
                label="%viewMarketDepth.label">
             <dynamic
                   class="org.marketcetera.photon.views.MarketDepthMenu"
                   id="org.marketcetera.photon.viewMarketDepth">
             </dynamic>
             <visibleWhen
                   checkEnabled="false">
                <reference
                      definitionId="org.marketcetera.photon.symbolProviderSelected">
                </reference>
             </visibleWhen>
          </menu>
          <separator
                name="beforeChooseColumns"
                visible="true">
          </separator>
          <menu
                label="%chooseColumns.label">
             <dynamic
                   class="org.marketcetera.photon.commons.ui.workbench.ChooseColumnsMenu"
                   id="org.marketcetera.photon.chooseColumnsMenu">
             </dynamic>
          </menu>
       </menuContribution>
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.trim.status">
          <toolbar
                id="org.marketcetera.photon.statusToolbar">
             <control
                   class="org.marketcetera.photon.ui.CommandLineTrimWidget">
             </control>
             <control>
                <class class="org.marketcetera.photon.ui.ServerStatusIndicator">
	               <parameter name="overlay" value="icons/overlay/s-template.gif"/>
	            </class>
             </control>
             <control>
                <class class="org.marketcetera.photon.ui.marketdata.MarketDataStatusIndicator">
                   <parameter name="overlay" value="icons/overlay/m-template.gif"/>
                </class>
             </control>
             <control
                   class="org.marketcetera.photon.ui.ClockTrimWidget">
             </control>
          </toolbar>
       </menuContribution>
       <menuContribution
             locationURI="popup:org.marketcetera.photon.marketdata.MarketDepthView.bidsPopup">
          <command
                commandId="org.marketcetera.photon.createEquityOrderFromQuote"
                label="%marketDepthView.bidsPopup.sell.label"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="activeMenuSelection">
                   <count
                         value="1">
                   </count>
                </with>
             </visibleWhen>
          </command>
       </menuContribution>
       <menuContribution
             locationURI="popup:org.marketcetera.photon.marketdata.MarketDepthView.asksPopup">
          <command
                commandId="org.marketcetera.photon.createEquityOrderFromQuote"
                label="%marketDepthView.asksPopup.buy.label"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="activeMenuSelection">
                   <count
                         value="1">
                   </count>
                </with>
             </visibleWhen>
          </command>
       </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.ui.internal.handlers.WidgetMethodHandler:paste"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="org.marketcetera.photon.ui.commandLineTrimWidget">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.ui.internal.handlers.WidgetMethodHandler:cut"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="org.marketcetera.photon.ui.commandLineTrimWidget">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.ui.internal.handlers.WidgetMethodHandler:copy"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="org.marketcetera.photon.ui.commandLineTrimWidget">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.ui.internal.handlers.SelectAllHandler"
            commandId="org.eclipse.ui.edit.selectAll">
         <activeWhen>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="org.marketcetera.photon.ui.commandLineTrimWidget">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.marketcetera.photon.actions.GoogleFinanceLookupHandler"
            commandId="org.marketcetera.photon.lookup">
         <activeWhen>
            <reference
                  definitionId="org.marketcetera.photon.symbolProviderSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.marketcetera.photon.views.MarketDataView$DeleteCommandHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.marketcetera.photon.views.MarketDataView">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.marketcetera.photon.views.MarketDataView$CopyCommandHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.marketcetera.photon.views.MarketDataView">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.marketcetera.photon.symbolProviderSelected">
         <and>
            <count
               value="1">
            </count>
            <iterate>
               <instanceof
                  value="org.marketcetera.photon.ui.ISymbolProvider">
               </instanceof>
            </iterate>
         </and>
      </definition>
      <definition
            id="org.marketcetera.photon.marketDataRowsSelected">
         <iterate
               ifEmpty="false">
           <instanceof
              value="org.marketcetera.photon.views.MarketDataViewItem">
           </instanceof>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.marketcetera.photon.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
</plugin>
