.topmenu-header {
  height: var(--lumo-size-xl);
}
.topmenu-header h1 {
  font-size: var(--lumo-font-size-l);
  margin: 0;
}
.topmenu-header img#logo {
  height: var(--lumo-size-l);
  margin: 0 var(--lumo-space-s);
}
.topmenu-header vaadin-tabs {
  align-self: center;
}
