<%= render :partial => 'shared/breadcrumbs', 
    :locals=> { :top_level => "Trades", :action_name => "Enter New Trade", :top_level_controller => 'trades' } %>
<h1>Enter Trade</h1>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= render :partial => '/shared/clear_create_form_buttons' %>
<%= end_form_tag %>
