<h1>Editing currency_pair</h1>

<% form_tag :action => 'update', :id => @currency_pair do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @currency_pair %> |
<%= link_to 'Back', :action => 'list' %>
