<% for column in CurrencyPair.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @currency_pair.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @currency_pair %> |
<%= link_to 'Back', :action => 'list' %>
