<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.marketcetera.photon.strategy.engine.ui.workbench.engineCommands"
            id="org.marketcetera.photon.strategy.engine.strategyagent.ui.workbench.newStrategyAgent"
            name="%newStrategyAgentCommand.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.marketcetera.photon.strategy.engine.ui.workbench.StrategyEnginesView">
         <command
               commandId="org.marketcetera.photon.strategy.engine.strategyagent.ui.workbench.newStrategyAgent"
               icon="icons/etool16/add_engine.png"
               style="push"
               tooltip="%newStrategyAgentCommand.tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.marketcetera.photon.internal.strategy.engine.strategyagent.ui.workbench.ConnectHandler"
            commandId="org.marketcetera.photon.strategy.engine.ui.workbench.connect">
         <activeWhen>
            <reference
                  definitionId="org.marketcetera.photon.strategy.engine.strategyagent.ui.workbench.strategyAgentsSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <iterate
                  operator="or">
               <test
                     property="org.marketcetera.photon.strategy.engine.ui.workbench.strategyEngine.connectionState"
                     value="DISCONNECTED">
               </test>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.marketcetera.photon.internal.strategy.engine.strategyagent.ui.workbench.DisconnectHandler"
            commandId="org.marketcetera.photon.strategy.engine.ui.workbench.disconnect">
         <activeWhen>
            <reference
                  definitionId="org.marketcetera.photon.strategy.engine.strategyagent.ui.workbench.strategyAgentsSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <iterate
                  operator="or">
               <test
                     property="org.marketcetera.photon.strategy.engine.ui.workbench.strategyEngine.connectionState"
                     value="CONNECTED">
               </test>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.marketcetera.photon.internal.strategy.engine.strategyagent.ui.workbench.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="org.marketcetera.photon.strategy.engine.strategyagent.ui.workbench.strategyAgentsSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.marketcetera.photon.internal.strategy.engine.strategyagent.ui.workbench.NewStrategyAgentHandler"
            commandId="org.marketcetera.photon.strategy.engine.strategyagent.ui.workbench.newStrategyAgent">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     operator="or">
                  <equals
                        value="org.marketcetera.photon.strategy.engine.ui.workbench.strategyEnginesViewReady">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.marketcetera.photon.internal.strategy.engine.strategyagent.ui.workbench.StrategyAgentConnectionPropertyPage"
            id="org.marketcetera.photon.strategy.engine.strategyagent.ui.workbench.strategyAgentConnectionPropertyPage"
            name="%strategyAgentConnectionPropertyPage.name">
         <enabledWhen>
            <instanceof
                  value="org.marketcetera.photon.strategy.engine.model.strategyagent.StrategyAgentEngine">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.marketcetera.photon.strategy.engine.strategyagent.ui.workbench.strategyAgentsSelected">
         <iterate
               ifEmpty="false"
               operator="and">
            <instanceof
                  value="org.marketcetera.photon.strategy.engine.model.strategyagent.StrategyAgentEngine">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="org.marketcetera.photon.strategy.engine.strategyagent.ui.workbench.strategyAgentSelected">
         <and>
            <count
                  value="1">
            </count>
            <reference
                  definitionId="org.marketcetera.photon.strategy.engine.strategyagent.ui.workbench.strategyAgentsSelected">
            </reference>
         </and>
      </definition>
   </extension>

</plugin>
