<%= error_messages_for 'equity' %>

<!--[form:equity]-->
<%= render :partial => '/shared/symbol_auto_complete', 
    :locals => { :errors => @equity.errors, :init_value => @equity.m_symbol_root, :error_key => :m_symbol_id} %>
<p><%= check_box_tag 'create_new', 1, true%><label for="create_new">Create symbol if missing</label></p>

<p><label for="equity_description">Description</label><br/>
<%= text_field 'equity', 'description'  %></p>

<!--[eoform:equity]-->

