<h2>Equity</h2>
<p>
  <b>Symbol: </b><%=h @equity.m_symbol == nil ? '' : @equity.m_symbol_root %>
</p>
<% for column in Equity.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @equity.send(column.name) %>
</p>
<% end %>
<%= link_to 'Edit', :action => 'edit', :id => @equity %> |
<%= link_to 'Back', :action => 'list' %>
