<%= render :partial => 'shared/header' %>

<p style="color: red"><%= flash[:error] %></p>
<p style="color: green"><%= flash[:notice] %></p>
<%= @content_for_layout %>

<%= render :partial => 'shared/footer' %>

