<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.marketcetera.photon.internal.strategy.ui.StrategyPerspective"
            icon="icons/script_gear.png"
            id="org.marketcetera.photon.StrategyPerspective"
            name="%strategyPerspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%strategyCategory.name"
            id="org.marketcetera.photon.strategy">
      </category>
      <view
            name="%strategyView.name"
            icon="icons/script_gear.png"
            category="org.marketcetera.photon.strategy"
            class="org.marketcetera.photon.internal.strategy.ui.StrategiesView"
            id="org.marketcetera.photon.strategy.StrategiesView">
      </view>
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/resource_persp.gif"
            id="org.marketcetera.photon.strategy.ProjectExplorer"
            name="%projectExplorerView.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewerActionBinding
            viewerId="org.marketcetera.photon.strategy.ProjectExplorer">
         <includes>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.actions.EditActions"/>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.actions.RefactorActions"/>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.OpenActions"/>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.NewActions"/>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions"/>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.UndoRedoActionProvider"/>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.PortingActions"/>
         </includes>
       </viewerActionBinding>
       <viewerContentBinding 
            viewerId="org.marketcetera.photon.strategy.ProjectExplorer">
          <includes>
       	     <contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />		       	      
	         <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.startsWithDot"/>
	         <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.closedProject"/>
             <contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper"/>
          </includes>
       </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.marketcetera.photon.strategy.commands.category"
            name="%strategyCommandsCategory.name">
      </category>
      <command
            categoryId="org.marketcetera.photon.strategy.commands.category"
            defaultHandler="org.marketcetera.photon.internal.strategy.ChangeStateHandler:RUNNING"
            description="%startStrategies.description"
            id="org.marketcetera.photon.strategy.commands.startStrategies"
            name="%startStrategies.name">
      </command>
      <command
            categoryId="org.marketcetera.photon.strategy.commands.category"
            defaultHandler="org.marketcetera.photon.internal.strategy.ChangeStateHandler:STOPPED"
            description="%stopStrategies.description"
            id="org.marketcetera.photon.strategy.commands.stopStrategies"
            name="%stopStrategies.name">
      </command>
      <command
            categoryId="org.marketcetera.photon.strategy.commands.category"
            description="%registerStrategy.name"
            id="org.marketcetera.photon.strategy.commands.registerStrategy"
            name="%registerStrategy.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.marketcetera.photon.strategy.StrategiesView">
         <command
               commandId="org.marketcetera.photon.strategy.commands.startStrategies"
               icon="icons/greenled.gif"
               style="push"
               tooltip="%startStrategies.description">
            <visibleWhen>
               <iterate
                     operator="or">
                  <instanceof
                        value="org.marketcetera.photon.internal.strategy.Strategy">
                  </instanceof>
                  <test
                        property="org.marketcetera.photon.strategy.state"
                        value="STOPPED">
                  </test>
               </iterate>   
            </visibleWhen>
         </command>
         <command
               commandId="org.marketcetera.photon.strategy.commands.stopStrategies"
               icon="icons/grayled.gif"
               style="push"
               tooltip="%stopStrategies.description">
               <visibleWhen>
               <iterate
                     operator="or">
                  <instanceof
                        value="org.marketcetera.photon.internal.strategy.Strategy">
                  </instanceof>
                  <test
                        property="org.marketcetera.photon.strategy.state"
                        value="RUNNING">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="org.marketcetera.photon.strategy.StrategiesView.separator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="%deleteStrategy.lable"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.marketcetera.photon.strategy.expressions.strategiesSelected">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="org.marketcetera.photon.strategy.StrategiesView.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="1">
               </count>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.marketcetera.photon.strategy.ProjectExplorer">
         <command
               commandId="org.marketcetera.photon.strategy.commands.registerStrategy"
               label="%registerStrategy.label"
               mnemonic="%registerStrategy.mnemonic"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.marketcetera.photon.strategy.expressions.rubyFileSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.marketcetera.photon.internal.strategy.StrategyPropertyTester"
            id="org.marketcetera.photon.strategy.StrategyTester"
            namespace="org.marketcetera.photon.strategy"
            properties="state"
            type="org.marketcetera.photon.internal.strategy.Strategy">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.marketcetera.photon.internal.strategy.ui.StrategyPropertyPage"
            icon="icons/script_gear.png"
            id="org.marketcetera.photon.StrategyPropertyPage"
            name="%strategyProperties.name">
         <enabledWhen>
            <adapt
                  type="org.marketcetera.photon.internal.strategy.Strategy">
            </adapt></enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.marketcetera.photon.internal.strategy.ruby.RegisterRubyHandler"
            commandId="org.marketcetera.photon.strategy.commands.registerStrategy">
         <activeWhen>
            <reference
                  definitionId="org.marketcetera.photon.strategy.expressions.rubyFileSelected">
            </reference>
            
         </activeWhen>
      </handler>
      <handler
            class="org.marketcetera.photon.internal.strategy.StrategyDeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.marketcetera.photon.strategy.StrategiesView">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.marketcetera.photon.strategy.expressions.rubyFileSelected">
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.rb">
                     </test>
                  </adapt>
               </iterate>
            </and>
      </definition>
      <definition
            id="org.marketcetera.photon.strategy.expressions.strategiesSelected">
         <iterate
               ifEmpty="false">
            <instanceof
                  value="org.marketcetera.photon.internal.strategy.Strategy">
            </instanceof>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.marketcetera.photon.strategy"
            name="%strategyWizards.name">
      </category>
      <wizard
            category="org.marketcetera.photon.strategy"
            class="org.marketcetera.photon.internal.strategy.ruby.NewRubyStrategyWizard"
            icon="icons/script_gear.png"
            id="org.marketcetera.photon.strategy.ruby.NewRubyStrategyWizard"
            name="%newRubyStrategyWizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            associatedExtensionId="org.eclipse.ui.navigator.resourceContent"
            type="new"
            wizardId="org.marketcetera.photon.strategy.ruby.NewRubyStrategyWizard">
         <enablement>
			<or>
			   <adapt type="org.eclipse.core.resources.IFile" />	
			   <adapt type="org.eclipse.core.resources.IFolder" />
	           <adapt type="org.eclipse.core.resources.IProject" />	
		    </or>
		 </enablement>
      </commonWizard>
   </extension>

</plugin>
