<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <RollingRandomAccessFile name="FILE" fileName="logs/ui.log" filePattern="logs/ui-%d{yyyy-MM-dd-HH}-%i.log.gz" append="true">
      <PatternLayout pattern="%d{DATE} %5p [%t] %c{3} (%F:%L) - %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <Root level="warn">
      <AppenderRef ref="FILE"/>
    </Root>
    <logger name="com.marketcetera" level="info"/>
    <logger name="org.marketcetera" level="info"/>
  </Loggers>
</Configuration>
