<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator name="RubySourceLocator"
			class="org.marketcetera.photon.registry.RubySourceLocator"
			id="org.rubypeople.rdt.debug.ui.rubySourceLocator">
		</sourceLocator>
	</extension>
</plugin>
