<h1>Trade Creation</h1>

Created <%= @num_created %> trades.
<p/>
<%= link_to 'List all trades', { :action => 'list', :controller => 'trades'} %>
<p/>
<%= link_to 'Back to executed trades', { :action => 'list', :controller => 'message_logs'} %>

