<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable" monitorInterval="30">
  <Properties>
    <Property name="instanceName">-instance$${sys:metc.instance}</Property>
  </Properties>  
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{DATE} %5p [%t] %c{3} (%F:%L) - %m%n"/>
    </Console>
    <RollingRandomAccessFile name="FILE" fileName="target/logs/dare${instanceName}.log" filePattern="target/logs/dare${instanceName}-%i.log.gz" append="true">
      <PatternLayout pattern="%d{DATE} %5p [%t] %c{3} (%F:%L) - %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingRandomAccessFile>
    <RollingRandomAccessFile name="FIX-INCOMING" fileName="target/logs/fix-incoming${instanceName}.log" filePattern="target/logs/fix-incoming${instanceName}-%i.log.gz" append="true">
      <PatternLayout pattern="%d{DATE} %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingRandomAccessFile>
    <RollingRandomAccessFile name="FIX-OUTGOING" fileName="target/logs/fix-outgoing${instanceName}.log" filePattern="target/logs/fix-outgoing${instanceName}-%i.log.gz" append="true">
      <PatternLayout pattern="%d{DATE} %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingRandomAccessFile>
    <RollingRandomAccessFile name="ISOTOPES" fileName="target/logs/isotopes${instanceName}.log" filePattern="target/logs/isotopes${instanceName}-%i.log.gz" append="true">
      <PatternLayout pattern="%m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingRandomAccessFile>
    <RollingRandomAccessFile name="METRICS" fileName="target/logs/metrics${instanceName}.log" filePattern="target/logs/metrics${instanceName}-%i.log.gz" append="true">
      <PatternLayout pattern="%d{DATE} %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
    </RollingRandomAccessFile>
    <RollingRandomAccessFile name="RESTORE" fileName="target/logs/restore${instanceName}.log" filePattern="target/logs/restore${instanceName}-%i.log.gz" append="true">
      <PatternLayout pattern="%d{DATE} [%t] %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
    </RollingRandomAccessFile>
    <RollingRandomAccessFile name="BROKERS" fileName="target/logs/brokers${instanceName}.log" filePattern="target/logs/brokers${instanceName}-%i.log.gz" append="true">
      <PatternLayout pattern="%d{DATE} %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
    </RollingRandomAccessFile>
    <RollingRandomAccessFile name="EVENTS" fileName="target/logs/event.log" filePattern="target/logs/event-%d{yyyy-MM-dd-HH}-%i.log.gz" append="true">
      <PatternLayout pattern="%d %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <Root level="warn">
      <AppenderRef ref="FILE"/>
    </Root>
    <logger name="org.marketcetera" level="info"/>
    <logger name="metc.restore" level="info" additivity="false">
      <AppenderRef ref="RESTORE"/>
      <AppenderRef ref="FILE"/>
      <AppenderRef ref="STDOUT"/>
    </logger>
    <logger name="metc.brokers" level="info" additivity="false">
      <AppenderRef ref="BROKERS"/>
      <AppenderRef ref="FILE"/>
      <AppenderRef ref="STDOUT"/>
    </logger>
    <logger name="metc.isotopes" level="warn" additivity="false">
      <AppenderRef ref="ISOTOPES"/>
    </logger>
    <logger name="metrics" level="info" additivity="false">
      <AppenderRef ref="METRICS"/>
    </logger>
    <logger name="org.marketcetera.persist.PoolMonitor" level="info" additivity="false">
      <AppenderRef ref="METRICS"/>
    </logger>
    <logger name="org.marketcetera.core.ThreadPoolMonitor" level="info" additivity="false">
      <AppenderRef ref="METRICS"/>
    </logger>
    <logger name="metc.startup" level="info" additivity="false">
      <AppenderRef ref="STDOUT"/>
    </logger>
    <logger name="metc.events" level="INFO" additivity="false">
      <AppenderRef ref="EVENTS"/>
    </logger>
    <logger name="org.marketcetera.ors.brokers.Broker.HEARTBEATS" level="error"/>
    <logger name="org.marketcetera.ors.QuickFIXApplication.HEARTBEATS" level="error"/>
    <logger name="org.marketcetera.ors.info" level="error"/>
    <!-- Active MQ -->
    <logger name="org.marketcetera.ors.info" level="error"/>
    <logger name="org.apache.activemq.transport" level="error"/>
    <logger name="org.apache.activemq.broker.jmx.ManagementContext" level="INFO"/>
    <!-- provides a nicely printed log of the messages -->
    <logger name="org.marketcetera.ors.brokers.Broker" level="debug"/>
    <logger name="quickfixj.event" level="info"/>
    <logger name="quickfixj.msg.incoming" level="info" additivity="false">
      <AppenderRef ref="FIX-INCOMING"/>
    </logger>
    <logger name="quickfixj.msg.outgoing" level="info" additivity="false">
      <AppenderRef ref="FIX-OUTGOING"/>
    </logger>
    <!--Hibernate.-->
    <logger name="org.hibernate" level="ERROR"/>
    <!--SQL DDL Statements.-->
    <logger name="org.hibernate.tool.hbm2dll" level="ERROR"/>
    <!--SQL DML statements.-->
    <logger name="org.hibernate.SQL" level="ERROR"/>
    <!--JDBC parameters.-->
    <logger name="org.hibernate.type" level="ERROR"/>
    <!--Entities (max 20) associated with session at flush time.-->
    <logger name="org.hibernate.pretty" level="ERROR"/>
    <!--JDBC resource acquisition.-->
    <logger name="org.hibernate.jdbc" level="ERROR"/>
    <!--Transaction related activity.-->
    <logger name="org.hibernate.transaction" level="ERROR"/>
    <!--Cache related activity.-->
    <logger name="org.hibernate.cache" level="ERROR"/>
    <!--Spring.-->
    <logger name="org.springframework" level="WARN"/>
    <!--Spring-JMS.-->
    <logger name="org.springframework.jms.listener" level="WARN"/>
    <!--c3p0 Connection Pool.-->
    <logger name="com.mchange" level="ERROR"/>
    <!--CXF.-->
    <logger name="org.apache.cxf" level="ERROR"/>
    <!--Jetty.-->
    <logger name="org.mortbay" level="ERROR"/>
  </Loggers>
</Configuration>
