<%= render :partial => 'trades/trade_list_display' %>

<%= link_to 'Previous page', { :page => @trade_pages.current.previous } if @trade_pages.current.previous %>
<%= link_to 'Next page', { :page => @trade_pages.current.next } if @trade_pages.current.next %> 

<br />

<%= link_to 'New trade', :action => 'new' %>
