<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="loadpathVariableInitializer" name="%loadpathVariableInitializersName" schema="schema/loadpathVariableInitializer.exsd"/>
   <extension-point id="loadpathContainerInitializer" name="%loadpathContainerInitializersName" schema="schema/loadpathContainerInitializer.exsd"/>
   <extension-point id="compilationParticipant" name="%compilationParticipantsName" schema="schema/compilationParticipant.exsd"/>
   <extension-point id="errorProvider" name="%errorProvidersName" schema="schema/errorProvider.exsd"/>
   <extension-point id="codeResolver" name="%codeResolversName" schema="schema/codeResolver.exsd"/>

     <extension
         id="rubynature"
         name="%NatureRuby.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.rubypeople.rdt.internal.core.RubyProject">
         </run>
      </runtime>
   </extension>
   
   <!-- =================================================================================== -->
<!-- Extension: Ruby Builder                                                             -->
<!-- =================================================================================== -->

<extension 
	point="org.eclipse.core.resources.builders" 
	id="rubybuilder"
	name="%rubyBuilderName">
	<builder>
		<run class="org.rubypeople.rdt.internal.core.builder.RubyBuilder">
		</run>
	</builder>
</extension>
   
<!-- =================================================================================== -->
<!-- Extension: Ruby File Types                                                          -->
<!-- =================================================================================== -->
   <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes type="text" extension="rb"/>
	  <fileTypes type="text" extension="rbw"/>
      <fileTypes type="text" extension="cgi"/>
      <fileTypes type="text" extension="fcgi"/>
      <fileTypes type="text" extension="rhtml"/>
      <fileTypes type="text" extension="erb"/>
      <fileTypes type="text" extension="rake"/>
      <fileTypes type="binary" extension="gem"/>
      <fileTypes type="text" extension="yml"/>
      <fileTypes type="text" extension="rsel"/>
      <fileTypes type="text" extension="builder"/>
   </extension>

<!-- =================================================================================== -->
<!-- Extension: Ruby Problem                                                             -->
<!-- =================================================================================== -->
   <extension id="problem" point="org.eclipse.core.resources.markers" name="%rubyProblemName">
      <super type="org.eclipse.core.resources.problemmarker" />
      <super type="org.eclipse.core.resources.textmarker" />
	  <persistent value="true"/>
	  <attribute name="id"/>
	  <attribute name="flags"/>
	  <attribute name="arguments"/>
   </extension>
   
<!-- =================================================================================== -->
<!-- Extension: Ruby Transient Problem                                                   -->
<!-- =================================================================================== -->
<extension id="transient_problem" point="org.eclipse.core.resources.markers" name="%transientRubyProblemName">
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="false"/>
	<attribute name="id"/>
	<attribute name="flags"/>
	<attribute name="arguments"/>
</extension>

<!-- =================================================================================== -->
<!-- Extension: Ruby Task                                                                -->
<!-- =================================================================================== -->
<extension id="task" name="%rubyTaskName" point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.taskmarker"/> 
    <persistent value="true"/>
</extension>

<!-- =================================================================================== -->
<!-- Extension: Ruby Content Types                                                       -->
<!-- =================================================================================== -->
<extension
      point="org.eclipse.core.runtime.contentTypes">
	<!-- declares a content type for Ruby Source files -->
	<content-type
       base-type="org.eclipse.core.runtime.text"
       file-extensions="%rubySource.extension"
       file-names="%rubySource.filenames"
       id="rubySource"
       name="%rubySourceName"
       priority="high"/>
</extension>

<!-- =================================================================================== -->
<!-- Extension: Eclipse preferences initializer                                          -->
<!-- =================================================================================== -->
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer class="org.rubypeople.rdt.internal.core.RubyCorePreferenceInitializer"/>
</extension>

   
   <extension
       point="org.rubypeople.rdt.core.errorProvider">       
       <category id="org.rubypeople.rdt.errors.codeComplexity" name="Code Complexity" />
       
       <category id="org.rubypeople.rdt.errors.potentialProblems" name="Potential programming problems" />
       <error prefKey="org.rubypeople.rdt.core.compiler.problem.constantReassignment" 
       		label="Re-Assignment to a constant"
       		categoryId="org.rubypeople.rdt.errors.potentialProblems"/>
       <error prefKey="org.rubypeople.rdt.core.compiler.problem.redefinition.core.class.method" 
       		label="Redefinition of Core class' method"
       		categoryId="org.rubypeople.rdt.errors.potentialProblems"/>
       		
       <category id="org.rubypeople.rdt.errors.unneccesaryCode" name="Unnecessary code" />
       <error prefKey="org.rubypeople.rdt.core.compiler.problem.emptyStatement" label="Empty Statements"
       		categoryId="org.rubypeople.rdt.errors.unneccesaryCode"/>
       <error prefKey="org.rubypeople.rdt.core.compiler.problem.unreachableCode" label="Unreachable Code"
       		categoryId="org.rubypeople.rdt.errors.unneccesaryCode"/>
       <error
             categoryId="org.rubypeople.rdt.errors.potentialProblems"
             label="Ruby 1.9 When Statement Syntax"
             prefKey="org.rubypeople.rdt.core.compiler.problem.ruby19WhenStatements"/>
       <error
             categoryId="org.rubypeople.rdt.errors.potentialProblems"
             label="Ruby 1.9 Hash Comma Syntax"
             prefKey="org.rubypeople.rdt.core.compiler.problem.ruby19HashCommaSyntax"/>
 	</extension>
   <extension
         point="org.rubypeople.rdt.core.compilationParticipant">
      <compilationParticipant
            class="org.rubypeople.rdt.internal.core.builder.RubyCodeAnalyzer"
            createsProblems="true"
            id="org.rubypeople.rdt.core.compilationParticipant.CodeAnalyzer">
         <managedMarker markerType="org.rubypeople.rdt.core.problem"/>
      </compilationParticipant>
      <compilationParticipant
            class="org.rubypeople.rdt.internal.core.builder.TaskCompiler"
            createsProblems="true"
            id="org.rubypeople.rdt.core.compilationParticipant.TaskParser">
         <managedMarker markerType="org.rubypeople.rdt.core.task"/>
      </compilationParticipant>
   </extension>
   <extension
         point="org.rubypeople.rdt.core.codeResolver">
      <codeResolver
            class="org.rubypeople.rdt.internal.codeassist.RubyCodeResolver"
            id="org.rubypeople.rdt.core.codeResolver">
      </codeResolver>
   </extension>
</plugin>
