<h1>Getting Started with Marketcetera Tradebase</h1>
<p>Marketcetera Tradebase is a web-based reporting application for all of your trading activity. <br/>
It can be used to view, create and modify positions, trades, accounts and equities.</p>
<p><em>Happy Trading!</em></p>