<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="marketdatafeed" name="Market Data Feed" schema="schema/marketdatafeed.exsd"/>

   <extension
         id="application"
         name="Photon"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.marketcetera.photon.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.marketcetera.photon.ui.EquityPerspectiveFactory"
            icon="icons/silk/medal_gold_2.png"
            id="org.marketcetera.photon.EquityPerspective"
            name="Equity">
      </perspective>
      <perspective
            class="org.marketcetera.photon.ui.OptionPerspectiveFactory"
            icon="icons/silk/clock.png"
            id="org.marketcetera.photon.OptionPerspective"
            name="Option">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.StockOrderTicketView"
            icon="icons/silk/medal_gold_add.png"
            id="org.marketcetera.photon.views.StockOrderTicketView"
            name="Stock Order Ticket"
            allowMultiple="true"
            />
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.OptionOrderTicketView"
            icon="icons/silk/clock_add.png"
            id="org.marketcetera.photon.views.OptionOrderTicketView"
            name="Option Order Ticket"
            allowMultiple="true"
            />
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.WebBrowserView"
            icon="icons/silk/world_go.png"
            id="org.marketcetera.photon.views.WebBrowserView"
            name="Browser"/>
      <category
            id="org.marketcetera.photon.category"
            name="Photon"/>
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.FIXMessagesView"
            icon="icons/silk/application_view_list.png"
            id="org.marketcetera.photon.views.FIXMessagesView"
            name="FIX Messages"/>
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.OpenOrdersView"
            icon="icons/silk/book_open.png"
            id="org.marketcetera.photon.views.OpenOrdersView"
            name="Open Orders"/>
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.FillsView"
            icon="icons/silk/folder_star.png"
            id="org.marketcetera.photon.views.FillsView"
            name="Fills"/>
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.AveragePriceView"
            icon="icons/silk/calculator.png"
            id="org.marketcetera.photon.views.AveragePriceView"
            name="Average Price"/>
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.MarketDataView"
            icon="icons/silk/chart_curve.png"
            id="org.marketcetera.photon.views.MarketDataView"
            name="Market Data"/>
      <view
            allowMultiple="true"
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.OptionMarketDataView"
            icon="icons/silk/chart_curve.png"
            id="org.marketcetera.photon.views.OptionMarketDataView"
            name="Option Market Data"/>
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.fixmessagedetail.FIXMessageDetailView"
            icon="icons/silk/application_view_list.png"
            id="org.marketcetera.photon.views.FIXMessageDetailView"
            name="FIX Message Details"/>
      <view
            category="org.marketcetera.photon.category"
            class="org.marketcetera.photon.views.TradeRecommendationView"
            icon="icons/silk/flag_green.png"
            id="org.marketcetera.photon.views.TradeRecommendationView"
            name="Trade Recommendations">
      </view>   
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.marketcetera.photon.EquityPerspective">
         <perspectiveShortcut
               id="org.rubypeople.rdt.ui.PerspectiveRuby"/>
         <perspectiveShortcut
               id="org.marketcetera.photon.OptionPerspective"/>
      </perspectiveExtension>

      <perspectiveExtension targetID="org.marketcetera.photon.OptionPerspective">
         <perspectiveShortcut
               id="org.marketcetera.photon.EquityPerspective"/>
         <perspectiveShortcut
               id="org.rubypeople.rdt.ui.PerspectiveRuby"/>
      </perspectiveExtension>

      <perspectiveExtension targetID="org.rubypeople.rdt.ui.PerspectiveRuby">
         <perspectiveShortcut
               id="org.marketcetera.photon.EquityPerspective"/>
         <perspectiveShortcut
               id="org.marketcetera.photon.OptionPerspective"/>
      </perspectiveExtension>

      <perspectiveExtension targetID="org.marketcetera.photon.DebugPerspective">
         <view
               id="org.eclipse.ui.console.ConsoleView"
               ratio="0.3"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true"/>
         <perspectiveShortcut
               id="org.rubypeople.rdt.ui.PerspectiveRuby"/>
         <perspectiveShortcut
               id="org.marketcetera.photon.OptionPerspective"/>
      </perspectiveExtension>
   </extension>

   <extension
	     point="org.eclipse.ui.preferencePages">
      <page
            class="org.marketcetera.photon.preferences.PhotonPage"
            id="org.marketcetera.photon.preferences.photon"
            name="Photon"/>
      <page
            class="org.marketcetera.photon.preferences.ConnectionsPreferencePage"
            id="org.marketcetera.photon.preferences.connections"
            name="Connections"/>
      <page
            class="org.marketcetera.photon.preferences.CustomOrderFieldPage"
            id="org.marketcetera.photon.preferences.customorderfield"
            name="Custom Order Fields"/>
      <page
            class="org.marketcetera.photon.preferences.FIXMessageColumnPreferencePage"
            id="org.marketcetera.photon.preferences.FIXMessageColumnPreferencePage"
            name="FIX Columns"/>
      <page
            class="org.marketcetera.photon.preferences.ScriptRegistryPage"
            id="org.marketcetera.photon.preferences.scriptregistry"
            name="Script Registry"/>
      <page
            name="Hot Keys"
            class="org.eclipse.ui.ExtensionFactory:keysPreferencePage"
            id="org.eclipse.ui.preferencePages.Keys">
      </page>
            
   </extension>
   <extension
         id="Photon"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.marketcetera.photon.application"
            description="Marketcetera Photon 0.6.0 (Plugin)"
            name="Photon 0.6.0">
         <property
               name="aboutImage"
               value="icons/marketcetera/logo-150x55.gif"/>
         <property
               name="aboutText"
               value="Marketcetera Photon&#x0A;&#x0A;Version: 0.6.0&#x0A;&#x0A;(c) Copyright Marketcetera Inc 2006-2008.  All rights reserved.&#x0A;Visit http://www.marketcetera.org"/>
         <property
               name="preferenceCustomization"
               value="photon_customization.ini"/>
         <property
               name="windowImages"
               value="icons/marketcetera/photon-16x16.gif,icons/marketcetera/photon-32x32.gif,icons/marketcetera/photon-48x48.gif,icons/marketcetera/photon-64x64.gif,icons/marketcetera/photon-128x128.gif"/>
         <property
               name="startupProgressRect"
               value="21,204,364,10"/>
         <property
               name="startupForegroundColor"
               value="555555"/>
         <property
               name="startupMessageRect"
               value="225,75,170,20"/>
         <property
               name="appName"
               value="Photon 0.6.0">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Photon Commands"
            id="org.marketcetera.photon.commands"
            name="Marketcetera Photon"/>
      <command
            categoryId="org.marketcetera.photon.commands"
            description="Focus the cursor on the command entry area"
            id="org.marketcetera.photon.FocusCommand"
            name="Focus Command Area"/>
      <keyBinding
            commandId="org.marketcetera.photon.FocusCommand"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="M3+C"/>
      <command
            categoryId="org.marketcetera.photon.commands"
            description="Quickly focus option market data for a specific underlier"
            id="org.marketcetera.photon.SelectOptionMarketDataCommandAction"
            name="Select Option Market Data"/>
      <keyBinding
            commandId="org.marketcetera.photon.SelectOptionMarketDataCommandAction"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="M3+O"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.marketcetera.photon.editors.EquityOptionEditor"
            default="false"
            icon="icons/silk/tab.png"
            id="org.marketcetera.photon.editors.EquityOptionEditor"
            name="Equity Options"/>
   </extension>
   <extension point="org.eclipse.ui.editorActions"> 
      <editorContribution 
         id="org.marketcetera.photon.RunScript" 
         targetID="org.rubypeople.rdt.ui.EditorRubyFile"> 
         <action 
            id="org.marketcetera.photon.actions.RunScriptActionDelegate" 
            label="Run &amp;script..." 
            menubarPath="script/additions" 
            toolbarPath="standard/additions"
            style="push"
            state="false" 
            icon="icons/other/RunScript.gif" 
            disabledIcon="icons/other/RunScriptDisabled.gif"
            tooltip="Run script..." 
            class="org.marketcetera.photon.actions.RunScriptActionDelegate"> 
            <selection class="org.eclipse.core.resources.IFile" name="*.rb"/> 
         </action> 
      </editorContribution> 
   </extension>    
   <extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution
         	adaptable="false"
         	id="org.marketcetera.photon.actions.CancelOrderActionDelegate"
         	objectClass="org.marketcetera.messagehistory.MessageHolder">
         	<action
         		class="org.marketcetera.photon.actions.CancelOrderActionDelegate"
         		icon="icons/silk/cancel.png"
         		id="org.marketcetera.photon.actions.CancelOrderActionDelegate"
         		label="&amp;Cancel order"/>
         </objectContribution>
         <objectContribution
         	adaptable="false"
         	id="org.marketcetera.photon.actions.CancelReplaceOrderActionDelegate"
         	objectClass="org.marketcetera.messagehistory.MessageHolder">
         	<action
         		class="org.marketcetera.photon.actions.CancelReplaceOrderActionDelegate"
         		icon="icons/silk/pencil.png"
         		id="org.marketcetera.photon.actions.CancelReplaceOrderActionDelegate"
         		label="&amp;Replace order"/>
         </objectContribution>
         <objectContribution
         	adaptable="false"
         	id="org.marketcetera.photon.actions.ViewSecurityActionDelegate"
         	objectClass="org.marketcetera.messagehistory.MessageHolder">
         	<action
                class="org.marketcetera.photon.actions.ViewSecurityActionDelegate"
                enablesFor="+"
                icon="icons/silk/world_go.png"
                id="org.marketcetera.photon.actions.ViewSecurityAction"
                label="View Security"/>
         </objectContribution>
		 <viewerContribution 
	         id="org.marketcetera.photon.actions.RunScriptActionDelegate" 
	         targetID="org.rubypeople.rdt.ui.rubyeditor.contextMenu"> 
	         <action
	            id="org.marketcetera.photon.actions.RunScriptActionDelegate" 
	            label="Run &amp;script..." 
	            style="push"
	            state="false"
	            menubarPath="additions" 
	            icon="icons/other/RunScript.gif" 
	            class="org.marketcetera.photon.actions.RunScriptActionDelegate"> 
	         </action>
	     </viewerContribution>
   <viewerContribution
         id="org.marketcetera.photon.Actions.DeleteItemActionDelegate"
         targetID="org.marketcetera.photon.views.MarketDataView">
      <action
            class="org.marketcetera.photon.actions.DeleteItemActionDelegate"
            enablesFor="+"
            icon="icons/silk/cancel.png"
            id="org.marketcetera.photon.actions.DeleteItemAction"
            label="&amp;Delete"
            menubarPath="additions"
            style="push"/>
   </viewerContribution>
   <objectContribution
         adaptable="false"
         id="org.marketcetera.photon.actions.ViewFIXMessageDetailActionDelegate"
         objectClass="org.marketcetera.messagehistory.MessageHolder">
      <action
            class="org.marketcetera.photon.actions.ViewFIXMessageDetailActionDelegate"
            icon="icons/silk/table_go.png"
            id="org.marketcetera.photon.actions.ViewFIXMessageDetailActionDelegate"
            label="View &amp;FIX message details"/>
   </objectContribution> 
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <group
            id="org.marketcetera.photon.ui.photonTrimGroup">
         <location>
            <bar type="trim"/>
            <order position="before" relativeTo="status"/>
         </location>
      </group>
      <widget class="org.marketcetera.photon.ui.CommandLineTrimWidget" 
      		  id="org.marketcetera.photon.ui.commandLineTrimWidget">
         <location>
            <bar path="org.marketcetera.photon.ui.photonTrimGroup" type="trim"/>
         </location>
      </widget>
      <widget id="org.marketcetera.photon.ui.statusImageTrimWidget:quoteFeedStatus">
         <location>
            <bar path="org.marketcetera.photon.ui.photonTrimGroup" type="trim"/>
         </location>
         <class class="org.marketcetera.photon.ui.StatusImageTrimWidget">
	         <parameter name="service" value="org.marketcetera.photon.marketdata.MarketDataFeedService"/>
	         <parameter name="idChar" value="Q"/>
	         <parameter name="name" value="Quote feed"/>
	     </class>
      </widget>
      <widget id="org.marketcetera.photon.ui.statusImageTrimWidget:jmsStatus">
         <class class="org.marketcetera.photon.ui.StatusImageTrimWidget">
         	<parameter name="service" value="org.marketcetera.photon.messaging.JMSFeedService"/>
         	<parameter name="idChar" value="M"/>
         	<parameter name="name" value="Message server"/>
	     </class>
         <location>
            <bar path="org.marketcetera.photon.ui.photonTrimGroup" type="trim"/>
         </location>
      </widget>
       <widget class="org.marketcetera.photon.ui.ClockTrimWidget"
                 id="org.marketcetera.photon.ui.clockTrimWidget">
          <location>
             <bar path="org.marketcetera.photon.ui.photonTrimGroup" type="trim"/>
          </location>
       </widget>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.ui.internal.handlers.WidgetMethodHandler:paste"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="org.marketcetera.photon.ui.commandLineTrimWidget">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.ui.internal.handlers.WidgetMethodHandler:cut"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="org.marketcetera.photon.ui.commandLineTrimWidget">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.ui.internal.handlers.WidgetMethodHandler:copy"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="org.marketcetera.photon.ui.commandLineTrimWidget">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.ui.internal.handlers.SelectAllHandler"
            commandId="org.eclipse.ui.edit.selectAll">
         <activeWhen>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="org.marketcetera.photon.ui.commandLineTrimWidget">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   
</plugin>
