<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.views">
      <view
            name="RegExp"
            icon="icons/rx.png"
            category="org.rubypeople.rdt.ui.ruby"
            class="org.epic.regexp.views.RegExpView"
            id="org.epic.regexp.views.RegExpView">
      </view>
   </extension>
     
  <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.rubypeople.rdt.ui.PerspectiveRuby">
         <viewShortcut id="org.epic.regexp.views.RegExpView"/> 
         <view
               relative="org.eclipse.ui.console.ConsoleView"
               relationship="stack"
               id="org.epic.regexp.views.RegExpView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
