<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 $License$

 Since: $Release$
 Version: $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.marketcetera.org/photon/strategy/engine/core/1.0"
            class="org.marketcetera.photon.strategy.engine.model.core.StrategyEngineCorePackage"
            genModel="model/strategy-engine-core.genmodel"/>
   </extension>

</plugin>
