<%= render :partial => 'shared/breadcrumbs', 
    :locals=> { :top_level => "Symbols", :action_name => "New Symbol", :top_level_controller => @controller.controller_name } %>

<h1>New Symbol</h1>

<% form_tag :action => 'create' do -%>
  <%= render :partial => 'form' %>
  <%= render :partial => '/shared/clear_create_form_buttons' %>
<% end -%>