<%= error_messages_for 'm_symbol' %>

<!--[form:m_symbol]-->
<p><label for="m_symbol_root">Root</label><br/>
<%= text_field 'm_symbol', 'root'  %></p>

<p><label for="m_symbol_bloomberg">Bloomberg</label><br/>
<%= text_field 'm_symbol', 'bloomberg'  %></p>

<p><label for="m_symbol_isin">Isin</label><br/>
<%= text_field 'm_symbol', 'isin'  %></p>

<p><label for="m_symbol_reuters">Reuters</label><br/>
<%= text_field 'm_symbol', 'reuters'  %></p>

<!--[eoform:m_symbol]-->

