<%= render :partial => 'shared/breadcrumbs', 
    :locals=> { :top_level => "Equities", :action_name => "Update Equity", :top_level_controller => @controller.controller_name } %>
<h1>Editing equity</h1>

<% form_tag :action => 'update', :id => @equity do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Update', :class => "submit floatright" %>
<% end -%>

<%= button_to 'Cancel', {:action => 'show', :id => @equity}, {:class => "reset floatright"} %>
