<%= render :partial => 'trades/trade_list_display' %>

<%= pagination_links(@trade_pages, :params => { "from_date" => @from_date , "to_date" => @to_date } ) %>

<br />
<%= link_to 'Search again', :action => :index %><br/>
<%= link_to 'New trade', :action => 'new', :controller => 'trades' %>

