  <ul id="breadcrumbs">
    <li><a title="<%= top_level -%>" href=""><%= top_level -%></a>
<% if(!action_name.blank?) -%>
    <span>&gt;</span></li>
    <li class="active"><%= action_name -%>
<% end -%>
    </li>
  </ul>
<p style="color: red"><%= flash[:error] %></p>
<p style="color: green"><%= flash[:notice] %></p>
  <div class="clear"></div>
