<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Marketcetera trade database" />
    <meta name="robots" content="index, follow" />
    <%= stylesheet_link_tag "scaffold" %>
    <%= stylesheet_link_tag "global" %>
    <%= javascript_include_tag "marketcetera/global" %>
    <title>Marketcetera Trade Database: <%= controller.action_name + ' ' + controller.controller_name %></title>
    <link rel="alternate" type="application/rss+xml" title="" href="" />
    <link rel="shorcut icon" type="image/x-ico" href="/images/favicon.ico" />
</head>

<body>
    <div id="productcontainer">
<!-- BEGIN HEADER -->
      <div id="header">
        <div id="logo">
          <a title="Marketcetera" href="/"><img src="/images/logo.jpg" width="150" height="55" alt="Marketcetera" /></a>
        </div>
        <div id="slogan">
          <a href="http://www.marketcetera.com"><img src="/images/downloadruntrade.jpg" width="165" height="8" alt="download.run.trade." /></a>
        </div>
        <div class="clear"></div>
      </div>
<!-- END HEADER -->

<!-- BEGIN BODY -->
      <div id="body">
      <div id="navitem"><%= NavigationHelper::NAVIGATION_MAPPING[@controller.controller_name]%></div>
<%= render :partial => 'shared/left_navigation_column' %>
        <div class="right_column">
   