<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Marketcetera trade database" />
<%= stylesheet_link_tag "scaffold" %>
<%= stylesheet_link_tag "marketcetera" %>
<%= javascript_include_tag "scriptaculous/prototype" %>
<%= javascript_include_tag "scriptaculous/scriptaculous" %>
<%= javascript_include_tag "marketcetera" %>
<title>Marketcetera Trade Database: <%= controller.action_name + ' ' + controller.controller_name %></title>
</head>

<body><div id="wrap">
<a href="/">Back to Index</a>


