<%= error_messages_for 'sub_account' %>

<!--[form:sub_account]-->
<p><label for="sub_account_type_description">Sub-account type</label><br/>
<%= text_field_with_auto_complete :sub_account_type, :description %>
</p>
<p><label for="sub_account_description">Description</label><br/>
<%= text_field 'sub_account', 'description'  %></p>

<%= hidden_field_tag 'account_id', @account %>
    
<!--[eoform:sub_account]-->

