<table>
  <tr>
  <th>Description</th>
  <th>Account</th>
  <th/>
  </tr>
  
<% i=0
 for sub_account in @sub_accounts %>
  <tr <%= ((i+=1)%2)==1?'class="odd"':''%> >
    <td><%=h sub_account.description %></td>
    <td><%= link_to sub_account.account.nickname, :controller => 'accounts', :action => 'show', :id => sub_account.account %></td>
    <td><%= link_to 'Show', :controller => 'sub_accounts', :action => 'show', :id => sub_account %></td>
  </tr>
<% end %>
</table>