<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.marketcetera.photon.positions.ui"
            name="%positionsCategory.name">
      </category>
      <view
            category="org.marketcetera.photon.positions.ui"
            class="org.marketcetera.photon.internal.positions.ui.PositionsView"
            icon="icons/sum.png"
            id="org.marketcetera.photon.positions.ui.PositionsView"
            name="%positionsView.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.marketcetera.photon.positions.ui.commands.category"
            name="%category.positionCommands">
      </category>
      <command
            categoryId="org.marketcetera.photon.positions.ui.commands.category"
            defaultHandler="org.marketcetera.photon.internal.positions.ui.PositionsView$ChangePageHandler:FLAT"
            id="org.marketcetera.photon.positions.ui.commands.flatLayout"
            name="%command.setFlatLayout.name">
      </command>
      <command
            categoryId="org.marketcetera.photon.positions.ui.commands.category"
            defaultHandler="org.marketcetera.photon.internal.positions.ui.PositionsView$ChangePageHandler:HIERARCHICAL"
            id="org.marketcetera.photon.positions.ui.commands.groupedLayout"
            name="%command.setGroupedLayout.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.marketcetera.photon.positions.ui.PositionsView">
         <control
               class="org.marketcetera.photon.internal.positions.ui.PositionsView$ViewFilter">
         </control>
         <command
               commandId="org.marketcetera.photon.positions.ui.commands.flatLayout"
               icon="icons/elcl16/flatLayout.gif"
               style="push"
               tooltip="%command.setFlatLayout.name">
         </command>
         <command
               commandId="org.marketcetera.photon.positions.ui.commands.groupedLayout"
               icon="icons/elcl16/groupedLayout.gif"
               id="org.marketcetera.photon.positions.ui.groupedLayoutPulldown"
               style="pulldown"
               tooltip="%command.setGroupedLayout.name">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.marketcetera.photon.positions.ui.groupedLayoutPulldown">
         <dynamic
               class="org.marketcetera.photon.internal.positions.ui.GroupingContributionItem"
               id="org.marketcetera.photon.positions.ui.groupingMenu">
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.marketcetera.photon.positions.ui.PositionsView">
         <menu
               id="org.marketcetera.photon.positions.ui.positionsPopup.chooseColumnsMenu"
               label="%menu.chooseColumnsMenu.label">
            <dynamic
                  class="org.marketcetera.photon.commons.ui.table.ChooseColumnsMenu"
                  id="org.marketcetera.photon.positions.ui.positionsPopup.chooseColumns">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>

</plugin>
