<% for column in Account.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @account.send(column.name) %>
</p>
<% end %>

<h2>Sub-accounts</h2><%= link_to '(Create new)',{:action=>'new', :controller=>'sub_accounts', :account_id => @account} %>
<% @sub_accounts = @account.sub_accounts %>
<%= render :partial => 'sub_accounts/sub_account_list_display' %>
<p/>
<%= link_to 'Edit', :action => 'edit', :id => @account %> |
<%= link_to 'Back', :action => 'list' %>
