<%= error_messages_for 'account' %>

<!--[form:account]-->
<p><label for="account_nickname">Nickname</label><br/>
<%= text_field 'account', 'nickname'  %></p>

<p><label for="account_description">Description</label><br/>
<%= text_field 'account', 'description'  %></p>

<p><label for="account_institution_identifier">Institution identifier</label><br/>
<%= text_field 'account', 'institution_identifier'  %></p>

<!--[eoform:account]-->

