/**
 * Test configuration.
 *
 * Author: anshul@marketcetera.com
 * Since: 1.0.0
 * Version: $Id$
 *
 * $License$
 */


/*
 * The login module that verifies that the password is the same as
 * the user name.
 */
test-amq-domain {
    org.marketcetera.client.MockLoginModule required;
};
