#Mon Apr 14 20:54:05 PDT 2008
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
verboseAnt=-verbose
autotestsuite.trace=true
pluginbuilder.features=org.marketcetera.photon.feature,org.marketcetera.photon.tests.feature
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
autotestsuite.plugin.inclusions=org.marketcetera.photon;org.marketcetera.marketdata
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=true
pluginbuilder.is.rcpbuild=true
